
@page "/generos"
@using Models
@using Services
@inject IGeneroService GeneroService

<MudText Typo="Typo.h3">Generos</MudText>
<br />

<MudGrid>
    @foreach (var item in generos)
    {
        @*<MudItem>
            <MudCard Width="100%" Heigth="100%" Class="d-flex flex-column">
                <MudCardActions>
                    <div>
                        <a type="button" href="/pelxgenero/@item.Id" Class="button">@item.Nombre</a>
                    </div>
                </MudCardActions>

            </MudCard>
        </MudItem>*@

        <MudItem xs="3" sm="3" md="3" lg="2">
            <MudCard Width="100%" Height="100%" Class="d-flex flex-column">
                <MudCardActions>
                    <MudButton FullWidth  Class="text-center" Link="@($"/pelxgenero/{item.Id}")" Variant="Variant.Outlined" Color="Color.Primary">@item.Nombre</MudButton>
                </MudCardActions>
            </MudCard>           
        </MudItem>
   }
</MudGrid>

@code {
    IEnumerable<Genero> generos = new List<Genero>();
    protected override async Task OnInitializedAsync()
    {
        generos = await GeneroService.GetAll();
    }

}
